<div class="courses-categories-slides">
    <owl-carousel-o [options]="categoriesSlides">
        <ng-template carouselSlide  *ngFor="let item of finaltabledata">

            <div >
                <div class="single-courses-box mb-30">
                    <div class="courses-image">
                        <a (click)="GoToPage(item.planId)" class="d-block"><img
                                src="https://ugetit.blob.core.windows.net/courseimages/1997d693-1f4d-404b-a3fc-19a5fade0397-Image-2.jpg"
                                alt="image"></a>
                        <div class="courses-tag">
                            <a class="d-block">{{item.length}}-Courses</a>
                        </div>
                    </div>
                    <div class="courses-content" (click)="GoToPage(item.planId)">

                        <h3><a routerLink="/courses-2-columns-style-1/{{item.planId}}" class="d-inline-block">{{item.planName}}</a></h3>

                    </div>
                    <div class="courses-box-footer" (click)="GoToPage(item.planId)">
                        <ul>
                            <li class="students-number " (click)="AddToCart(item.planId)">
                                <!-- <i class='bx bx-plus icon-arrow before'></i>Add To Cart -->
                                <i class="bx bx-cart-alt"></i>
                            </li>
                            
                            <!-- <li class="courses-lesson">
                                    <i class='bx bx-book-open'></i> {{item.length}} lessons
                                </li> -->
                            <li class="courses-price">
                                ₹{{item.Price}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div>
                <a  class="default-btn" (click)="AddToCart(courseId)"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">Add To Cart</span><i class="bx bx-paper-plane icon-arrow after"></i></a>
            </div>
            <div class="single-categories-courses-box mb-30" (click)="GoToPage(item.planId)">
                
                <div class="row">
                    <div class="col-md-6 mt-0 float-left">
                        <a routerLink="/">Management</a>
                    </div> 
                    
                </div>
                <div class="icon">
                    <i class='bx bx-code-alt'></i>
                </div>

                <h3>{{item.planName}}</h3>
                <span>{{item.length}} Courses</span>
                <a routerLink="/" class="link-btn"></a>
                
            </div> -->

        </ng-template>
        <!-- <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-30">
                <div class="icon">
                    <i class='bx bx-camera'></i>
                </div>
                <h3>Photography </h3>
                <span>21 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-30">
                <div class="icon">
                    <i class='bx bx-layer'></i>
                </div>
                <h3>Graphics Design</h3>
                <span>58 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-30">
                <div class="icon">
                    <i class='bx bxs-flag-checkered'></i>
                </div>
                <h3>Web Language</h3>
                <span>99 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-30">
                <div class="icon">
                    <i class='bx bx-health'></i>
                </div>
                <h3>Health & Fitness</h3>
                <span>21 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="single-categories-courses-box mb-30">
                <div class="icon">
                    <i class='bx bx-line-chart'></i>
                </div>
                <h3>Business Studies</h3>
                <span>49 Courses</span>
                <a routerLink="/" class="link-btn"></a>
            </div>
        </ng-template> -->
    </owl-carousel-o>
</div>